// Place all the styles related to the greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.advice {
  text-align: center;
}
